---
const { content, reverse, image, extraStyle} = Astro.props
const direction = reverse ? "md:flex-row-reverse" : "md:flex-row"
const padding = reverse ? "xl:pr-28" : "xl:pl-28"
const justify = reverse ? "md:justify-end" : "md:justify-start"
---
<div class=`flex flex-col box-border ${direction}`>
    <div class="w-full md:basis-2/4">
        <picture>
            <source srcset={image.desktop} media="(min-width: 768px)" />
            <img class="w-full" src={image.mobile} alt={image.alt}} />
        </picture>
    </div>
    <div class=`flex justify-center items-stretch w-full bg-soft-red/[.03] font-black text-dark-desaturated-blue ${justify} md:basis-2/4`>
        <div class=`flex flex-col justify-center items-center max-w-max pt-20 pb-16  font-fraunces  text-center md:items-start md:py-0 md:px-8 lg:px-14 md:text-left xl:p-0 ${padding}`>
            <h2 class="max-w-[14ch] text-3xl md:max-w-[15ch] xl:text-[2.6rem] xl:leading-tight">{ content.header }</h2>
            <!--  text-dark-desaturated-cyan-->
            <p class="pt-10 pb-11 font-barlow font-semibold text-lg text-dark-grayish-blue max-w-[32ch] sm:max-w-[45ch]">{ content.description }</p>
            <button class=`relative w-[8em] text-sm text-center uppercase after:content-[' '] after:block after:w-[100%] after:h-[0.6em] after:mt-[-8px] after:rounded-lg ${extraStyle}`>
                Learn more
            </button>
        </div>
    </div>
</div>